\documentclass{book}

{{"\\usepackage{%s}" % style}}

\begin{document}
\rcpopen
\rcptitle{{ "{" }}{{ title }}{{ "}" }}

{% if freezable -%}{{"\\rcpfreezable\n"}}{%- endif %}{% if servings -%}{{"\\rcpservings{%s}\n" % servings}}{%- endif %}{% if number -%}{{"\\rcpmakes{%s}\n" % number}}{%- endif %}{% if prepTime -%}{{"\\rcpprep{%s}\n" % prepTime}}{%- endif %}{% if cookTime -%}{{"\\rcpcook{%s}\n" % cookTime}}{%- endif %}

{% if notes -%}{{"\\rcpnotes{%s}" % notes}}{%- endif %}

\begin{ingredients}
{% for key, value in main_ingredients.items() %}
  {% if key != 'main' -%}
  {{"\sectA{%s}" % key}}
  {%- endif %}
  {% for item in value -%}
    {{"  \item %s" % item}}
  {% endfor %}
{% endfor -%}

{% for key, value in ingredients.items() -%}
  {{"  \sect{%s}" % key}}
  {% for item in value -%}
    {{"  \item %s" % item}}
  {% endfor %}
{% endfor -%}
\end{ingredients}
\begin{method}
{% for item in method %}
  {{"  \item %s" % item}}
{% endfor -%}
\end{method}

\rcpclose
\end{document}
